#homeLink {
    text-decoration: none;
}

#logoIcon {
    width: 4rem;
    height: 4rem;
}

#logoText {
    width: 18rem;
    height: 1.8rem;
}

img {
    background: linear-gradient(to left, #ff6a00, #ee0979);
    display: inline-block;
    opacity: 0;
}

img.loaded {
    opacity: 1;
    transition: opacity 1000ms ease;
}
