#homeLink {
    text-decoration: none;
}

#logo {
    margin-top: 0.5rem;
    height: 3rem;
}

img {
    background: linear-gradient(to left, #ff6a00, #ee0979);
    display: inline-block;
    opacity: 0;
}

img.loaded {
    opacity: 1;
    transition: opacity 1000ms ease;
}