:root {
    --color-primary: #ee0979;
    --color-secondary: #ff6a00;
    --color-background: rgb(20, 20, 20);
}

body {
    background-color: var(--color-background);
    color: var(--color-primary);
    font-family: "open Sans", Helvetica, sans-serif;
}

.wall {
    height: fit-content;
    position: relative;
}

.hide {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    /*    outline: 1px solid green;*/
}

#socialLinks.hide {
    display: inline-block;
}

#menu {
    position: absolute;
    border-radius: 0.5rem;
    top: 3rem;
    right: 3rem;
    padding: 0.5rem;
    z-index: 90;
    background-color: rgba(30, 30, 30, 0.97);
    color: var(--color-secondary);
    border: 2px solid var(--color-primary);
}

#menuIcon {
    height: 1.75rem;
    width: 1.75rem;
    align-self: center;
    /*    outline: 1px solid yellow;*/
}

#igLink {
    align-self: flex-start;
    align-items: center;
    text-decoration: none;
    color: var(--color-secondary);
    display: flex;
    font-size: 1rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;

    img {
        height: 25px;
    }
}

#pfLink {
    align-self: flex-start;
    align-items: center;
    text-decoration: none;
    color: var(--color-secondary);
    display: flex;
    font-size: 1rem;
    padding-right: 0.5rem;

    /*padding-top: 0.25rem;*/
    img {
        height: 15px;
        padding: 5px;
    }
}

#slideShow {
    display: block;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#gotoPrev {
    width: 20vw;
    height: calc(100vh - 4rem);
    position: absolute;
    top: 2rem;
    left: 0;
    cursor: pointer;
}

#prevIcon {
    position: absolute;
    height: 2rem;
    width: 2rem;
    transform: rotate(-45deg);
    left: 2rem;
    top: 50%;
    border-top: 3px solid white;
    border-left: 3px solid white;
}

#gotoNext {
    width: 20vw;
    height: calc(100vh - 6rem);
    position: absolute;
    top: 4rem;
    right: 0;
    cursor: pointer;
}

#nextIcon {
    position: absolute;
    height: 2rem;
    width: 2rem;
    transform: rotate(45deg);
    right: 2rem;
    top: calc(50% - 1rem);
    border-top: 3px solid white;
    border-right: 3px solid white;
}

#prev,
#next {
    display: none;
}

#current {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

#slideShow.slideShowHidden {
    display: none;
}

#slideShow button {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 2rem;
    z-index: 110;
}

#hideSS {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: lighter;
    font-size: 0.8rem;
}

#showInfo {
    position: absolute;
    top: 0;
    left: 0;
}

#showInfo img {
    height: 1.5rem;
    width: 1.5rem;
    color: rgba(250, 250, 250, 0.5);
}

#slideShow>button:hover {
    background-color: rgba(128, 128, 128, .3);
    border-radius: 50%;
}

#slideshow.ssControls {
    z-index: 100;
}

#ssContainer {
    position: relative;
    pointer-events: none;
}

#infoContainer {
    width: 100%;
    height: 100%;
    top: 0;
    font-size: .9rem;
}

#info.hide {
    display: none;
}

#info {
    border-radius: 0.5rem;
    position: absolute;
    top: 3rem;
    left: 3rem;
    z-index: 90;
    background-color: rgba(30, 30, 30, 0.97);
    color: var(--color-secondary);
    border: 2px solid var(--color-primary);
    padding: 1em;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4px;
    grid-template-areas:
        "caption  caption  caption  caption"
        "rating   create   create   create"
        "camera   lens     lens     lens"
        "fLength  fLength  fDist    fDist"
        "iso      fstop    exp      ecomp"
        "keywords keywords keywords keywords"
        "crop     crop     crop     crop"
        "source   source   source   source"
        "copy     copy     copy     copy";
    place-content: center;

    .creationDate {
        grid-area: create;
    }

    .by {
        grid-area: by;
    }

    .copyright::before {
        content: "\00a9\00a0"
    }

    .copyright {
        grid-area: copy;
        font-size: 0.8em;
    }

    .rating {
        grid-area: rating;
    }

    .camera {
        grid-area: camera;
    }

    .lens {
        grid-area: lens;
    }

    .focalLength {
        grid-area: fLength;
    }

    .focalDistance {
        grid-area: fDist;
    }

    .iso::before {
        content: "ISO ";
    }

    .iso {
        grid-area: iso;
    }

    .fstop::before {
        content: "𝒇";
    }

    .fstop {
        grid-area: fstop;
    }

    .exposure::after {
        content: " sec"
    }

    .exposure {
        grid-area: exp;
    }

    .crop {
        grid-area: crop;
        margin: auto;
    }

    .caption {
        grid-area: caption;
        font-weight: bold;
        font-size: 1.2em;
        text-wrap: balance;
        max-width: 25rem;
        text-align: center;
    }

    .keywords {
        grid-area: keywords;
    }

    .source {
        grid-area: source;
    }

    .source::before {
        content: "Source: ";
    }

    .exposureComp {
        grid-area: eComp;
    }
}